.data-container {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: rgb(240, 240, 240);
}

.data-container-header {
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.data-container-body {
    background-color: white;
    padding: 2px 15px;
}

.data-entry-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px;
    border-bottom: 1px solid lightgray;
    padding: 10px 10px;
}

.data-entry-block:last-child {
    border-bottom: none;
}

.data-entry-block-body {
    display: flex;
    align-items: center;
}

.button-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 1.1rem;
   width: 50px;
}

.button-container button:nth-child(1) {
    color: rgb(73, 89, 106);
    font-size: 1rem;
}

.button-container button:nth-child(2) {
    color: rgb(223, 110, 110);
    font-size: 1.2rem;
}

.button-container button {
    transition: all 0.3s ease;
}

.button-container button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.data-entry-block-body-text {
    width: 120px;
}

.quantity {
    padding: 0px 10px;
    background-color: rgb(36, 130, 69);
    color: white;
    font-size: .8rem;
    font-weight: bold;
    border-radius: 10px;
}

.quantity-amount {
    background-color: rgb(36, 130, 69);
}

.quantity-time {
    background-color: rgb(20, 119, 225);
}

.icon-container {
    margin-right: 10px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

.button {
    background-color: transparent;
    max-width: 20px;
    border: none;
    margin: 0px;
    font-size: .8rem;
}

@media screen and (max-device-width: 500px) {
    .data-container {
        margin: 0px;
        border-radius: 10px;
    }

    .data-entry-block {
        padding: 5px 10px;
    }

    .button-container {
        max-width: 40px;
    }

    .button {
        margin: 0px !important;
        padding: 0px !important;
    }

    .data-container-header {
        padding: 10px 10px;
    }

    .data-container-body {
        padding: 0px;
    }

    .data-entry-block-body-text {
        font-size: .8rem;
    }

    .quantity {
        font-size: .6rem;
    }

    .icon-container {
        font-size: .9rem;
        margin-right: 8px;
    }   

    .button-container button:nth-child(1) {
        font-size: .8rem;
        margin: 0px;
    }

    .button-container button:nth-child(2) {
        font-size: .9rem;
        margin: 0px;
    }
}